@import url("https://fonts.googleapis.com/css2?family=Adamina&family=Londrina+Solid:wght@100;300;400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arima:wght@100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arizonia&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Charmonman:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap");
/*  font-family: "Arima", system-ui; */
/* font-family: "Arizonia", cursive; */
/*   font-family: "Charmonman", cursive; */
/*  font-family: "Alegreya", serif; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --nav-font: "" --phone-text;
}
html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  /* background-color: #02171d; */
}
ul {
  list-style: none;
}

a {
  color: white;
  display: inline-block;
  text-decoration: none;
  font-family: "Arima", system-ui;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* common  class*/
.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.section-padding {
  padding-top: 100px;
  padding-bottom: 100px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.col {
  padding: 0 15px;
}

.col-50 {
  width: 50%;
}

.col-25 {
  width: 25%;
}
/* header */

header {
  background-color: red;
}
.header-contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.text-part {
  display: flex;
  gap: 20px;
  align-items: center;
}
.text-part p {
  color: #fff;
  font-family: "Arima", system-ui;
  font-size: 14px;
  letter-spacing: 1px;
}
.text-part span {
  font-family: "Adamina", sans-serif;
  font-size: 12px;
  color: #fff;
}
.social-links {
  display: flex;
  gap: 15px;
  align-items: center;
}
.social-links p {
  font-family: "Arima", system-ui;
  font-size: 14px;
  color: #fff;
  letter-spacing: 1px;
}

/* banner */
.banner {
  background-image: url("/images/banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh; /* ensures it fills screen but grows with content */
  display: flex;
  align-items: center; /* vertically center content */
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.nav-list {
  display: flex;
  gap: 50px;
  align-items: center;
}

.nav-list li a:hover {
  color: #c20c0c;
  border-bottom: 1px solid #c20c0c;
}
.banner-container {
  color: white;
  /* background-color: rebeccapurple; */
}
.text-section {
  /* background-color: rebeccapurple; */
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  justify-content: center;
}
.banner-container h1 {
  font-family: "Charmonman", cursive;
  font-size: 45px;
  line-height: 1.2;
  margin-bottom: 20px;
  max-width: 420px;
}
.banner-container p {
  font-family: "Arima", system-ui;
  font-size: 16px;
  line-height: 30px;
  max-width: 400px;
  color: #fff;
  opacity: 0.8;
}

.cursive {
  font-family: "Arizonia", cursive;
  font-size: 96px;
  color: #c20c0c;
}
.text-part .cursive-1 {
  font-family: "Arizonia", cursive;
  font-size: 64px;
  color: #c20c0c;
}

.banner-button {
  margin-top: 30px;
}
.ban-button {
  display: inline-block;
  background-color: #c20c0c;
  color: #fff;
  padding: 10px 25px;
  border-radius: 10px;
  font-family: "Arima", system-ui;
  margin-right: 20px;
}
.bann-button {
  display: inline-block;
  /* background-color: #C20C0C; */
  color: #fff;
  padding: 10px 25px;
  border-radius: 10px;
  font-family: "Arima", system-ui;
  border: 1px solid #fff;
  margin-right: 20px;
}

.banner-image img {
  height: auto;
  max-width: 455px;
}
.banner-image {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* position: relative; */
  /* background-color: red; */
}
.image-section {
  /* background-color: blue; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}
.artist-1 {
  position: absolute;
  bottom: 40px;
  left: 10px;
}
.artist-1 img {
  height: auto;
  width: auto;
}
.artist-2 {
  position: absolute;
  top: 250px;
  left: 10px;
  z-index: 1;
}
.artist-2 img {
  height: auto;
  width: auto;
}
.artist-3 {
  position: absolute;
  top: 30px;
  right: 250px;
}
.artist-3 img {
  height: auto;
  width: auto;
}
/* intro-part */
.intro-part {
  background-color: black;
  color: white;
  text-align: center;
  position: relative;
}
.text-part {
  text-align: center;
}
.text-part h4 {
  font-family: "Charmonman", cursive;
  font-size: 24px;
  line-height: 1.2;
  margin-bottom: 20px;
  /* max-width: 420px; */
}

.line {
  height: 2px;
  width: 50px;
  background-color: red;
}
.last-para p {
  font-family: "Arima", system-ui;
  font-size: 16px;
  line-height: 30px;
  color: #fff;
  opacity: 0.8;
  margin-top: 20px;
}
.intro-part .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-photo {
  /* background-color: red; */
  position: absolute;
  bottom: 32px;
  left: 32px;
  z-index: 2;
}
.frame {
  position: relative;
}
.vector-2 {
  position: absolute;
  top: 80px;
  left: 150px;
  z-index: 1;
}
.vector-1 {
  position: absolute;
  bottom: 1px;
  right: 90px;
  z-index: 1;
}
/* gallery-section */
.heading {
  background-color: #c20c0c;
  /* width: 100%; */
}
.heading h4 {
  font-family: "Charmonman", cursive;
  font-size: 24px;
  line-height: 1.2;
  margin-bottom: 20px;
  /* max-width: 420px; */
  color: white;
}
.gallery-section {
  text-align: center;
  /* padding: 40px 20px; */
  background-color: #000;
  /* background: linear-gradient(to bottom, #8b0000, #000); */
}

.gallery-section h2 {
  font-family: "Playfair Display", serif;
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 30px;
  color: #fff;
}

.gallery-section h2 span {
  font-family: "Dancing Script", cursive;
  font-size: 36px;
  color: #ffcccc;
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.gallery-container img {
  height: auto;
  width: auto;
  object-fit: cover;
  /* border-radius: 8px; */
  /* transition: transform 0.3s ease; */
  cursor: pointer;
}

.gallery-container img:hover {
  transform: scale(1.05);
}

.arrows {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 20px;
  gap: 10px;
}

.arrows button {
  background-color: #cc0000;
  color: white;
  border: none;
  padding: 10px 18px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.arrows button:hover {
  background-color: #ff3333;
}

/* couple-part */
.couple-part {
  min-height: 60vh;
  background-image: url("/images/image\ \(69\).png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  position: relative;
}
.cursive-2 {
  font-family: "Arizonia", cursive;
  font-size: 64px;
  color: #000000;
}
.header h5 {
  font-family: "Charmonman", cursive;
  font-size: 24px;
}
.line {
  height: 2px;
  width: 50px;
  background-color: black;
  /* margin: 0 auto; */
  margin-top: 10px;
  /* text-align: center; */
}
.couple-part .row {
  margin-top: 40px;
}
.text-content h5 {
  font-family: "Arima", system-ui;
  font-size: 16px;
  line-height: 36px;
  font-weight: 400;
  /* color: #000000; */
  opacity: 0.8;
  margin-top: 20px;
}

.image-content img {
  height: auto;
  width: auto;
}
.text-content p {
  font-family: "Charmonman", cursive;
  font-size: 24px;
  margin-top: 10px;
  text-align: end;
}
.text-content {
  /* background-color: rebeccapurple; */
}
.flower img {
  height: auto;
  width: auto;
}
.flower {
  position: absolute;
  bottom: 60px;
  left: 81%;
  z-index: 2;
}

/* card-section */
.card {
  background: #111;
  border: 1px solid #555;
  /* border-radius: 8px; */
  width: 300px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(255, 255, 255, 0.1);
  /* text-align: center; */
}

/* Image section */
.card-section .row {
  justify-content: center;
  gap: 30px;
}
.card-section {
  background-color: #000;
  color: white;
}
.card-img {
  position: relative;
}

.card-img img {
  height: auto;
  width: auto;
  /* object-fit: cover; */
}

.card-img .price {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: #fff;
  color: #000;
  padding: 4px 10px;
  font-size: 13px;
  border-radius: 4px;
  font-weight: bold;
}

/* Body */
.card-body {
  padding: 20px;
  text-align: center;
}

.card-body h3 {
  font-size: 16px;
  margin-bottom: 10px;
  /* font-style: italic; */
  color: #ffcc00;
  font-family: "Charmonman", cursive;
  border-bottom: 1px solid #ffcc00;
}

.card-body p {
  font-size: 14px;
  margin-bottom: 15px;
  line-height: 1.4;
  color: #ccc;
  font-family: "Arima", system-ui;
}

.card-body ul {
  list-style: none;
  padding: 0;
  margin: 0 0 15px 0;
  font-size: 14px;
  color: #fff;
  font-family: "Arima", system-ui;
}

.card-body ul li {
  margin: 6px 0;
}

/* Button */
.card-section .text-part {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-body button {
  background: red;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 5px;
  cursor: pointer;
  /* font-weight: bold; */
  font-family: "Alegreya", serif;
}

.card-body button:hover {
  background: darkred;
}
/* feature-weddinf */
.feature-wedding {
  background-color: #000000;
}
.feature-wedding .text-part {
  color: white;
}

.feature-wedding .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.feature-wedding .row {
  margin-top: 20px;
}
/* lastt part */
.last-part {
  min-height: 60vh;
  background-image: url("/images/image\ \(68\).png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.last-part .row {
  font-family: "Charmonman", cursive;
  color: white;
}
.last-part h2 {
  font-family: "Charmonman", cursive;
  font-size: 20px;
  letter-spacing: 2px;
  /* margin-bottom: 20px; */
  max-width: 300px;
}
.left-div {
  /* background-color: palegoldenrod; */
  border-right: 1px solid black;
}
.last-part p {
  font-size: 20px;
  max-width: 500px;
  letter-spacing: 2px;
}
.last-button {
  display: inline-block;
  background-color: black;
  color: #fff;
  padding: 10px 25px;
  border-radius: 10px;
  font-family: "Arima", system-ui;
  margin-top: 20px;
}
/* footer  */
footer {
  background: #000;
  color: #fff;
  font-family: "Arima", system-ui;
}
footer .col-33 img {
  height: auto;
  width: auto;
}
footer .row {
  justify-content: space-between;
}
footer .col h3 {
  font-size: 22px;
  margin-bottom: 15px;
  /* font-style: italic; */
  border-bottom: 1px solid #a68b5c;
  display: inline-block;
  padding-bottom: 5px;
  font-family: "Charmonman", cursive;
}
footer .col {
  padding: 20px 0;
}

.footer-links li {
  /* background-color: red; */
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Alegreya", serif;
}
.footer-links i {
  font-size: 20px;
  color: red;
}

.social {
  margin-top: 15px;
}

.social span {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
}

.icons i {
  margin: 0 8px;
  cursor: pointer;
  font-size: 18px;
  transition: color 0.3s;
}

.icons i:hover {
  color: #ffcc00;
}

.footer-bottom {
  background: #b30000;
  color: #fff;
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 13px;
}

.footer-bottom a {
  color: #fff;
  text-decoration: none;
  margin: 0 5px;
}

.footer-bottom a:hover {
  text-decoration: underline;
}

.social-links-1 {
  /* display: flex; */
  align-items: center;
  gap: 15px;
  margin-top: 40px;
}
@media (min-width: 1200px) {
  nav {
    /* background-color: red; */
    padding: 5px 0;
    margin-bottom: 80px;
  }
}

@media (max-width: 768px) {
  .col-50,
  .col-33,
  .col-25 {
    width: 100%;
    margin-bottom: 20px;
  }
  .header-contact {
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }
  .banner {
    flex-direction: column;
    text-align: center;
    padding: 50px 0;
    gap: 30px;
  }
  .banner-image {
    justify-content: center;
  }
  .image-section {
    justify-content: center;
  }
  /* .artist-1, .artist-2, .artist-3, .vector-1, .vector-2, .flower, .profile-photo{
    display: none;
  } */
  .nav-list {
    gap: 20px;
  }
  .card-section .row {
    flex-direction: column;
    align-items: center;
  }
  .footer-bottom {
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }
  footer .row {
    flex-direction: column;
    text-align: center;
    gap: 20px;
    padding: 0 20px;
  }
  /* background-color: red; */
   /* .card-section .row {
    
  }  */
  .vector-2 {
    /* top: 280px; */
    left: -2px;
    /* bottom: 5px; */
    top: -1px;
  }
  .vector-1 {
    right: -2px;
  }
}